= form_for @checkpoint do |f|
  - if @checkpoint.errors.any?
    #error_explanation
      %h2= "#{pluralize(@checkpoint.errors.count, "error")} prohibited this checkpoint from being saved:"
      %ul
        - @checkpoint.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    %p Is this open?
    = f.label :open, "True"
    = f.radio_button :open, "true", checked: true
    
    = f.label :open, "False"
    = f.radio_button :open, "false"

  .actions
    = f.submit 'Save'
