%h1 Checkpoints
%hr




.table-responsive
  %table.table.table-striped#datatable
    %thead
      %tr
        %th.checkpoint-left.span1
          = I18n.t('checkpoint')
        %th.span1 
          = I18n.t('status')
        %th.span2
          = I18n.t('last_updated_at')
    %tbody
      - @checkpoints.order(name: :asc).each do | c |
        %tr
          %td=link_to c.name, checkpoint_path(c)
          -if c.open
            %td{class: 'open-true bold'}= I18n.t('open').capitalize
          -else
            %td{class: 'open-false bold'}= I18n.t('closed').capitalize
          %td= c.messages.last.created_at.to_formatted_s(:long) if c.messages.present?

%br/

=link_to 'Create New Checkpoint', new_checkpoint_path

%br/
%br/
