= form_for @checkpoint do |f|
  - if @checkpoint.errors.any?
    #error_explanation
      %h2= "#{pluralize(@checkpoint.errors.count, "error")} prohibited this checkpoint from being saved:"
      %ul
        - @checkpoint.errors.full_messages.each do |msg|
          %li= msg

  %form
    %fieldset.text-center
      %legend
        = I18n.t('new_checkpoint')
     
      .name
        = f.label :name, class: "name-label"
        = f.text_field :name, placeholder: "Name..."
      .open.checkbox.in-line
        %span.open-label
          = I18n.t('open_question')
        = f.label :open, I18n.t('yes_open'), class: "css-label.lite-blue-check"
        = f.radio_button :open, "true", class: "css-checkbox"

        = f.label :open, I18n.t('no_open')
        = f.radio_button :open, "false"

      .btn
        = f.submit 'Save'
