= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"

%h1
  =t('checkpoint_currently', name: @checkpoint.name_locale)
  -if @checkpoint.open
    %strong.green=t('open')
  -else
    %strong.red=t('closed')
%h4
  =t('instructions1')
  %a{:href => "https://www.twitter.com/testmaftuh", target: "_blank"}
    @testmaftuh
  =t('instructions2', checkpoint: @checkpoint.name_locale)

%br/
%h5 Recent Reports:
.table-responsive
  %table.table.table-striped
    %tbody
      %tr
        -@all_messages.reverse.each do |message|
          %td
            #{message.text} -
            -if message.user
              %a{:href => "https://www.twitter.com/#{message.user.screen_name}", target: "_blank"}
                @#{message.user.screen_name}
            -else
              SMS
            \-
            %strong
              #{message.created_at.to_formatted_s(:long)}

.row
  .col-md-7
    #map-canvas{:style => "width: 650px; height: 400px"}

  .col-md-6
    -if @all_messages.count > 0
      #chart
      = render_chart(@chart, 'chart')

%br/
%br/

.row
  .col-md-12
    %h3=t('recent_updates')
    %hr/

    %table.table.table-striped
      -@all_messages.each do |message|
        %tr
          %td.message_text
            =message.text
          %td
            -if message.user
              %a{:href => "https://www.twitter.com/#{message.user.screen_name}", target: "_blank"}
                @#{message.user.screen_name}
            -else
              SMS
          %td
            %strong
              =message.created_at.to_formatted_s(:long)




%br/
%br/

%script{:src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAP_KEY']}", :type => "text/javascript"}
:javascript
  function initialize() {
    var geo

    var mapOptions = {
      center: { lat: #{@geo.first}, lng: #{@geo.last}},
      zoom: 9,
      mapTypeId: google.maps.MapTypeId.TERRAIN
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    var marker = new google.maps.Marker({
        position: {lat: #{@geo.first}, lng: #{@geo.last}},
        map: map,
        title:"#{@checkpoint.name} Checkpoint"
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
