!!!
%html
  %head
    %title Maftuh
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"}
    %script{src: "https://www.google.com/jsapi"}
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#{root_path}"} Maftuh
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#{checkpoints_path}"}
                =t('checkpoints')
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                -checkpoints = Checkpoint.all
                -checkpoints.each do |checkpoint|
                  %li
                    =link_to checkpoint.name, checkpoint_path(checkpoint)
                %li.divider
                %li
                  =link_to 'All Checkpoints', checkpoints_path


          %ul.nav.navbar-nav.navbar-right
            %li
              -if I18n.locale == :ar
                %a{:href => "?locale=en"} English
              -else
                %a{:href => "?locale=ar"} العربي

    - flash.each do |key, value|
      %div{:class => flash_class(key)}
        = value
        
    .container
      = yield